.{
    margin: 0;
    padding: 0;
}
.nav-bar{
    margin-top:30px;
    list-style:none;
    background-color:violet;
}
.list-nav-bar {

    display: inline-block;
    padding-left: 30px;
}
.list-nav-bar a {
    color:wheat;
    text-decoration: none;
}

.list-nav-bar a:hover{
    color:blue;
}
.list-nav-bar a:active{
    color:red;
}
.list-nav-bar a::after{
    content: " | ";
}